.topBar {
  background-color: lightblue;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeBtn {
  background-color: lightblue;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-decoration: underline;
}

.welcomeBtn:focus, .welcomeBtn:hover {
  transform: scale(1.1);
}

.logoutBtn {
  border: none;
  background-color: lightblue;
  border-radius: 3px;
  position: absolute;
  font-size: 18px;
  margin-left: 90%;
  cursor: pointer;
}

.logoutBtn:focus, .logoutBtn:hover {
  font-size: 20px;
}